@font-face {
  font-family: 'lora';
  src: url('polices/lora.eot') format('eot'),
  url('polices/lora.svg') format('svg'),
  url('polices/lora.ttf') format('ttf'),
  url('polices/lora.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 p
{font-family: 'lora',Verdana, arial, sans-serif;
}

.grid {
    position: fixed;
    width: 1000px;
    height: 600px;
    border: solid 3px black;
  
  }


.toto {
  position: relative;
  
  --x: 100px;
  --y: 100px;
transform: translateX(var(--x)) translateY(var(--y));
--rotateX: 0;
--rotate: 0;
transform: translateX(var(--x)) translateY(var(--y))
rotateY(var(--rotateX)) rotate(var(--rotate));


}
.combo {
animation-name: rotate;
animation-duration: 0.7s;
animation-iteration-count: 10;

}
@keyframes rotate {
0% {
transform: rotateY(var(--rotateX)) rotate(var(--rotate))
translateX(var(--x)) translateY(var(--y));
}
100% {
transform: rotateY(var(--rotateX)) rotate(var(--rotate)) 
translateX(var(--x)) translateY(var(--y)) rotate(360deg);
}
}
.bounce-1 {
animation-duration: 2s;
animation-iteration-count: 1;
animation-name: bounce-1;
animation-timing-function: linear;
transform-origin: bottom;

}
@keyframes bounce-1 {

0%   { transform: translateY(var(--y)) translateX(var(--x)); } /* reprend coordo actuel 
mais fais des rebonds sur le coté va vers le point 0 */
50%  { transform:translateY(calc(var(--y) - 100px)) translateX(var(--x)); }
/*avec calc va calculer d'après ses coordonées le nouveau point*/ 
100% { transform: translateY(var(--y)) translateX(var(--x)); }
}


.ramen {
position: absolute;
width: 70px;
height: 70px;
}

.star{
  position: absolute;
  width : 70px;
  height: 50px;
}
